<!DOCTYPE html>
<html>
  <head>
  	<meta charset="utf-8">
    <title>笔记本</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="email=no">
    <link rel='stylesheet' href='/common/css/note.css' />
    <link rel='stylesheet' href='/index/css/index.css' />
    <link rel='stylesheet' href='/book/css/book.css' />
  </head>
  <body>
  
    <div class="header">
      <div class="navbar">
        <div class="navbar-left">
          <span class="navbar-tool navbar-hamburger" data-toggle="slider" data-href="#collapseSlider" aria-expanded="false" aria-controls="collapseSlider"></span>
          <span class="navbar-tool navbar-brand">笔记本</span>
        </div>
        <div class="navbar-right">
          <span class="navbar-tool navbar-search"></span>
          <span class="navbar-tool navbar-options"></span>
        </div>
        <div class="navbar-slider fade" id="collapseSlider">
          <div class="dialog">
            <% if(user) { %>
            <div class="dialog-header">
              <div class="portrait">
                <span class="thumb"></span>
              </div>
              <div class="account">
                <a href="#">445088977@qq.com</a>
              </div>
            </div>
            <div class="dialog-body">
              <ul class="breadcrumb">
                <li><a href="/">所有笔记</a></li>
                <li class="active"><a href="/book">笔记本</a></li>
              </ul>
            </div>
            <% } else { %>
            <div class="dialog-header">
              <div class="portrait">
                <span class="thumb"></span>
              </div>
              <div class="account">
                <a href="/login">立即登录</a>
              </div>
            </div>
            <div class="dialog-body">
              <ul class="breadcrumb">
                <li><a href="/all">所有笔记</a></li>
                <li><a href="/book">笔记本</a></li>
              </ul>
            </div>
            <% } %>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="books">
        <p><%= error %></p>
        <% if(books) { %>
          <% books.forEach(function(book) { %>
            <div class="item" data-href="/list/?book=<%= book.book %>&noteLength=<%= book.noteLength %>&bookid=<%= book._id %>">
              <h2><%= book.book %></h2>
              <p><%= book.noteLength %> 笔记</p>
            </div>
          <% }) %>
        <% } %>
      </div>
    </div>

    <a class="btnbar" href="/post">+</a>

    <script src="/common/js/jquery-2.2.3.min.js"></script>
    <script src="/common/js/note.js"></script>
    <script src="/index/js/index.js"></script>
  </body>
</html>
