<div class="header">
	<div class="navbar">
		<div class="navbar-left">
			<a class="navbar-tool navbar-hamburger" href="#" data-toggle="slider" href="#collapseSlider" aria-expanded="false" aria-controls="collapseSlider"></a>
			<a class="navbar-tool navbar-brand">Note</a>
		</div>
		<div class="navbar-right">
			<a class="navbar-tool navbar-options" href="#"></a>
			<a class="navbar-tool navbar-search" href="#"></a>
		</div>
		<div class="navbar-silder fade" id="collapseSlider">
			<div class="dialog">
				<div class="dialog-header">
					<div class="portrait">
						<span class="thumb"></span>
					</div>
					<div class="account">
						<a href="#">445088977@qq.com</a>
					</div>
				</div>
				<div class="dialog-body">
					<ul class="breadcrumb">
						<li class="active"><a href="#">列表</a></li>
						<li><a href="#">列表</a></li>
						<li><a href="#">列表</a></li>
						<li><a href="#">列表</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>