<!DOCTYPE html>
<html>
  <head>
  	<meta charset="utf-8">
    <title>登录</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="email=no">
    <link rel='stylesheet' href='/common/css/note.css' />
    <link rel='stylesheet' href='/login/css/login.css' />
  </head>
  <body>
  
    <div class="header">
      <div class="navbar">
        <div class="navbar-left">
          <a class="navbar-tool navbar-brand">登录</a>
        </div>
      </div>
    </div>

    <div class="container">
      <form class="form-group" method="post">
        <div class="input-group">
          <label for="username">用户名</label>
          <input type="text" id="username" name="username" placeholder="输入你的用户名">
        </div>
        <div class="input-group">
          <label for="password">密码</label>
          <input type="password" id="password" name="password">
        </div>
        <div class="sub-group">
          <button type="submit" class="sub">登录</button>
          <div class="btntool">
            <div class="checkbox-group">
              <input type="checkbox" id="showpwd" name="showpwd">
              <label for="showpwd">显示密码</label>
            </div>
            <div class="btntip">
              <a href="/reg">还没有账号？</a>
            </div>
          </div>
        </div>
      </form>
    </div>

    <script src="/common/js/jquery-2.2.3.min.js"></script>
    <script>
      
      $(function() {

        <% if(error) { %>
          alert('<%= error %>');
        <% } %>

        /*checkout-password*/
        $("#showpwd").change(function() {
          var checked = $(this).prop('checked');

          if(checked) {
            $('[name="password"]').attr('type','text');
          } else {
            $('[name="password"]').attr('type','password');
          }
        }); 

        /*submit*/
        $('.sub').on('click', function(e) {
          e.preventDefault();

          var $username = $('[name="username"]');
          var $password = $('[name="password"]');

          var $usernameVal = $.trim($username.val())
          if($usernameVal == '') {
            warningsTip($username, '用户名不能为空，请输入');
            return false;
          }

          var $passwordVal = $.trim($password.val());
          if($passwordVal == '') {
            warningsTip($password, '密码不能为空，请输入');
            return false;
          }

          $.post('/login', {username: $usernameVal, password: $passwordVal}, function(data) {
            if(data.status == 0) {
              alert(data.err);
            } else if(data.status == 1) {
              warningsTip($username, data.err);
            } else if(data.status == 2) {
              warningsTip($password, data.err);
            } else if(data.status == 3) {
              alert(data.content);
              window.location.href = '/';
            }
          });

        });

        function warningsTip(o, t) {
          o.parent().removeClass('warnings');
          o.siblings('.tooltip').remove();

          o.parent().addClass('warnings');
          o.after('<p class="tooltip">' + t + '</p>');
          o.focus();
          o.one('keyup', function() {
            o.parent().removeClass('warnings');
            o.siblings('.tooltip').remove();
          });
        }

      });

    </script>
  </body>
</html>
